@using BookStore.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    
    @{
        var count = 0;
        if (Session["Cart"] != null)
        {
            List<Cart> quant = (List<Cart>)Session["Cart"];
            count = quant.Sum(x => x.Quantity);


        }

    }


    <div class="myMenu">
        <div class="name">
            @Html.ActionLink("Book Store", "View", "Books", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="mySearch">
            @using (Html.BeginForm("View", "Books", FormMethod.Get))
            {

                @Html.TextBox("search", null, new { onblur = "this.form.submit();" })

            }
        </div>
        <div class="myCart">
            @Html.ActionLink("Cart ", "Index", "ShoppingCart")
            <sup>&nbsp;@count&nbsp;</sup>
        </div>
        
    </div>
    
    

    <div class="container body-content">
        @RenderBody()





        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Book Store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
