
@model BookStore.Models.Book

@{
    ViewBag.Title = "Details";
}



<div id="wrapdetail">
    <h2 id="detailTitle">
        @Html.DisplayFor(model => model.Title)
    </h2>
    <span id="imgdetail">
        <img src="@Url.Content(Model.ImagePath)" />
    </span>
    <span id="maindetail">


        <br />
        <h3>
            @Html.DisplayFor(model => model.Author)
        </h3>

        <br />
        <h3>
            @Html.DisplayFor(model => model.Category.NameCategory)
        </h3>

        <br />
        @Html.DisplayFor(model => model.Price)
        <br />


        @{
            int starY = (int)Model.RatingBook;
            int starN = 10 - starY;

        }
        @for (int i = 0; i < starY; i++)
        {
            <span class="starY">
                &#9733;&nbsp;
            </span>
        }
        @for (int i = 0; i < starN; i++)
        {
            <span class="starY">
                &#9734;&nbsp;
            </span>
        }

        <br /><br /><br />
        @Html.ActionLink("Add to Cart", "OrderNow", "ShoppingCart", new { id = Model.BookId }, new { @class = "btn btn-success" })
    </span>
    <span id="descdetail">

        @Html.DisplayFor(model => model.Desription)

    </span>

</div>



@using (Html.BeginForm("AddComment", "Books", FormMethod.Post))
{

    <div class="rating">
        <h3>Comments</h3>
        <hr />
        <p class="ratingrat">Rating(required):</p>

        <input type="radio" id="star10" name="Rating" value="10" />
        <label class="full" for="star10" title="10"></label>
        <input type="radio" id="star9" name="Rating" value="9" />
        <label class="full" for="star9" title="9"></label>
        <input type="radio" id="star8" name="Rating" value="8" />
        <label class="full" for="star8" title="8"></label>
        <input type="radio" id="star7" name="Rating" value="7" />
        <label class="full" for="star7" title="7"></label>
        <input type="radio" id="star6" name="Rating" value="6" />
        <label class="full" for="star6" title="6"></label>
        <input type="radio" id="star5" name="Rating" value="5" />
        <label class="full" for="star5" title="5"></label>
        <input type="radio" id="star4" name="Rating" value="4" />
        <label class="full" for="star4" title="4"></label>
        <input type="radio" id="star3" name="Rating" value="3" />
        <label class="full" for="star3" title="3"></label>
        <input type="radio" id="star2" name="Rating" value="2" />
        <label class="full" for="star2" title="2"></label>
        <input type="radio" id="star1" name="Rating" value="1" required />
        <label class="full" for="star1" title="1"></label>
    </div>
    <br /><br />
    <div class="myForm">
        <input id="BookId" name="BookId" type="number" value="@Html.DisplayFor(model => model.BookId)" hidden />
        <p>Your name:</p>
        <input id="Name" name="Name" type="text" min="3" required />
        <p>Your comment:</p>
        <input id="BCom" name="BCom" type="text" required />

    </div>
    <br />
    <input type="submit" value="Submit" class="btn btn-success" style="width: 40%;margin-left: 40%;font-size: 1.2em;" />

}


<br /><br />

@Html.Partial("_Items")