
@using BookStore.Models;
@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<Book>



@{
    ViewBag.Title = "Main";
}


<br />
<div class="myFilters">

    @using (Html.BeginForm("View", "Books", FormMethod.Post))
    {

        @Html.DropDownList("catname", ViewBag.catname as SelectList, new { onchange = "this.form.submit();" })

    }

    @using (Html.BeginForm("View", "Books", FormMethod.Post))
    {

        @Html.DropDownList("authorname",  ViewBag.authorname as SelectList, new { onchange = "this.form.submit();" })

    }

    @using (Html.BeginForm("View", "Books", FormMethod.Post))
    {  
        <input type="submit" id="BookRating" name="BookRating" value="Popular" class="btn btn-primary" />
    }
    @using (Html.BeginForm("View", "Books", FormMethod.Post))
    {

        <select id="byRating" name="byRating" onchange="this.form.submit();">
            <option>Rating</option>
            <option value="11">All books</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>

        </select>
    }

</div>
<br />
@foreach (var item in Model)
{
    <div class="wrapContent">
        <input type="number" name="BookId" value="@Html.DisplayFor(modelItem => item.BookId)" hidden />

        <h3 class="myTitle">
            @Html.DisplayFor(modelItem => item.Title)
        </h3>
        <div class="myImage">
            <img src="@Url.Content(item.ImagePath)" />
        </div>
        <p>
            @{
                int starY = (int)item.RatingBook;
                int starN = 10 - starY;
            }
            @for (int i = 0; i < starY; i++)
            {
                <span class="starY">
                    &#9733;
                </span>
            }
            @for (int i = 0; i < starN; i++)
            {
                <span class="starY">
                    &#9734;
                </span>
            }
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Author)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Category.NameCategory)
        </p>

        <p>
            @Html.DisplayFor(modelItem => item.Price) &#8372;
        </p>
        <p>
            @*@Html.DisplayFor(modelItem => item.Desription)*@
        </p>
        <p>
            @Html.ActionLink("Add to Cart", "OrderNow", "ShoppingCart", new { id = item.BookId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Details", "Details", "Books", new { id = item.BookId }, new { @class = "btn btn-primary" })
            @*<input type="submit" value="Buy" class="btn btn-success" />*@
        </p>
    </div>
}

<div class="bfot">
    @Html.PagedListPager(Model, page => Url.Action("View", new { page }))
</div>

