@*@model IEnumerable<BookStore.Models.Book>*@

@using BookStore.Models;
@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<Book>


@{
    ViewBag.Title = "View";
}


@*@model IEnumerable<BookStore.Models.Book>
@Html.DropDownList("CagegoryId", ViewBag.CagegoryId as SelectList)*@



<br />
@{

    foreach (var item in Model)
    {

        <button type="button" class="btn btn-success">
            @Html.DisplayFor(modelItem => item.Category.NameCategory)
        </button>


    }
}
<br /><br />
<table class="table">
    <tr>
        <th class="col-md-2">
            @*@Html.DisplayNameFor(model => model.ImagePath)*@
        </th>
        <th class="col-md-1">
            @*@Html.DisplayNameFor(model => model.Category.NameCategory)*@
            Category
        </th>
        <th class="col-md-2">
            @*@Html.DisplayNameFor(model => model.Title)*@
            Title
        </th>
        <th class="col-md-2">
            @*@Html.DisplayNameFor(model => model.Author)*@
            Author
        </th>
        <th class="col-md-4">
            @*@Html.DisplayNameFor(model => model.Description)*@
            Description
        </th>
        <th class="col-md-1">
            @*@Html.DisplayNameFor(model => model.Price) &#8372;*@
            Price &#8372;
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-2">
                @*@Html.DisplayFor(modelItem => item.ImagePath)*@
                <img src="@Url.Content(item.ImagePath) " width="150" height="100" />
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Category.NameCategory)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Price) &#8372;
            </td>

            <td>
                <input type="submit" value="Buy" />
            </td>
        </tr>
    }



</table>


    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("View", new { page }))

    @*<a href="/Books/Index">
           <button type="button" class="btn btn-success btn-lg">End test</button>
        </a>*@