@*@model IEnumerable<BookStore.Models.Book>*@

@using BookStore.Models;
@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<Book>



@{
    ViewBag.Title = "Book Store";
}


@*@Html.DropDownList("catname", ViewBag.catname as SelectList, "All Categories", new { onchange = "l" })*@


@using (Html.BeginForm("View", "Books", FormMethod.Post))
{

    @Html.DropDownList("catname", ViewBag.catname as SelectList, new { onchange = "this.form.submit();" })

}


<br /><br />
<table class="table">
    <tr>


        <th class="col-md-2">
            @*@Html.DisplayNameFor(model => model.ImagePath)*@
            Books
        </th>
        <th class="col-md-1">
            @*@Html.DisplayNameFor(model => model.Category.NameCategory)*@
            Category
        </th>
        <th class="col-md-2">
            @*@Html.DisplayNameFor(model => model.Title)*@
            Title
        </th>
        <th class="col-md-2">
            @*@Html.DisplayNameFor(model => model.Author)*@
            Author
        </th>
        <th class="col-md-4">
            @*@Html.DisplayNameFor(model => model.Description)*@
            Description
        </th>
        <th class="col-md-1">
            @*@Html.DisplayNameFor(model => model.Price) &#8372;*@
            Price &#8372;
        </th>
        <th></th>


    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("AddCart", "Carts", FormMethod.Post))
        {
            <tr>
                <td class="col-md-2">
                    @*@Html.DisplayFor(modelItem => item.ImagePath)*@
                    <img src="@Url.Content(item.ImagePath) " width="150" height="100" />
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Category.NameCategory)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Price) &#8372;
                </td>

                <td>

                    @Html.ActionLink("Carts", "AddCart", "Carts")


                </td>
            </tr>
        }
        
    }



</table>


@*@using (Html.BeginForm("View", "Books", FormMethod.Post))
    {
        foreach (var item in Model)
        {
            <button type="button" name="catname" class="btn btn-success">
                @Html.DisplayFor(modelItem => item.Category.NameCategory)
            </button>
        }
    }*@
<div class="bfot">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("View", new { page }))

</div>


@*<a href="/Books/Index">
       <button type="button" class="btn btn-success btn-lg">End test</button>
    </a>*@